<!-- filename: views/partials/header.ejs -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title><%= title %> - <%= siteName %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <nav>
    <a href="/">홈</a>
    <a href="/users">사용자</a>
  </nav>
</header>
<main>
