<!-- filename: views/partials/header.ejs -->
<header>
  <div class="container">
    <h1><a href="/"><%= siteName %></a></h1>
    <nav>
      <a href="/">홈</a>
      <a href="/boards">게시판</a>
    </nav>
  </div>
</header>
