<!-- filename: views/index.ejs -->
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>환영합니다!</h1>
  <p>현재 시간: <%= new Date().toLocaleString('ko-KR') %></p>
  <script src="/js/main.js"></script>
</body>
</html>
